/* Grass Green (#7DB46CFF), Lightest Sky (#E7EBE0FF) and Clearwater (#ABD6DFFF) */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
#home{
    height: 100vh;
}
.homepage{
  margin-top: 5rem;
  align-items: flex-start;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 400px;
    margin: 20px;
    text-align: start;
    font-family: arial;
  }


  
  .title {
    color: grey;
    font-size: 18px;
  }

  img{
    border-radius: 5px;
    height: 60px;
    width: 60px;
    margin-left: 0px;
    border: 0px solid black;
    
  }
    h4{
      margin-left: 5px;
    }
    .user_navigation{
      margin-left: -15px;
    }
  .user_navigation a{
    margin-left: 20px;
  }
  .about_user{
    margin: 15px 0 0 5px;
    display:flex;
    column-gap: 30px;
    border: 1px solid black;
    height: 200px;
    }
   .user_home img{
    height: 100px;
   }
    
    .section-content {
      display: none;
    }
    
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
